body { /*Imagem de fundo*/
  background-image: url(../imagens/fotodofundo.png); /*Imagem inserida*/
  background-repeat: no-repeat; /*Se a imagem será repetida ou não*/
  background-attachment: fixed; /*Fixa a imagem no fundo*/
  background-size: cover; /*Ajusta a imagem*/
  width: 100%; /*Largura*/
}


fieldset { /*Formatação da caixa no meio*/
  width: 800px; /*Largura*/
  height: 400px; /*Altura*/
  top: 32%; /*Move a caixa 32% para baixo*/
  left: 30%; /*Move a caixa 30% para a esquerda*/
  border: 1px double black; /*Bordas para as caixas*/
  position: absolute; /*Representação do layout da caixa*/
  padding: 2px; /*Espaçamento entre o conteudo e borda*/
  border-radius: 2%; /*Bordas arredondadas*/
  box-sizing: border-box; /*Altera a forma como o navegador calcula a largura e a altura de um elemento*/
  transform: rotate(90); /*Rotação da caixa*/
  background-color: #4caa38; /*Cor da caixa*/
  text-indent: 10px; /*Define o recuo do texto*/
  opacity: 65%; /*Deixa meio transparente*/
}


h1 { /*Título*/
  font-size: 200%; /*Tamanho do texto*/
  text-align: center; /*Centraliza o conteúdo de elementos*/
}


h1, h2, h3 { /*Textos*/
  color: black; /*Cor do texto*/
  font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
}


input, select, button, textarea { /*Formatação dos campos de entrada*/
  border-radius: 4em; /*Bordas arredondadas*/
  padding: 5px; /*Espaçamento entre o conteudo e borda*/
  margin: 5px; /*Espaçamento externo do elemento*/
  height: 6%; /*Altura*/
  font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
}


button { /*Botões*/
  width: 9em; /*Largura*/
  height: 2em; /*Altura*/
  text-decoration: none; /*Remove o sublinhado*/
  text-align: center; /*Centraliza o conteúdo de elementos*/
}


a { /*Links*/
  color: black; /*Cor do texto*/
  text-decoration: none; /*Remove o sublinhado*/
  font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
  text-align: center; /*Centraliza o conteúdo de elementos*/
}
