header {
  background-image: url(../imagens/barracadastro.png); /*Imagem no topo*/
  padding: 6em; /*Espaçamento entre o conteúdo e a borda*/
  background-position: center; /*Centraliza a imagem*/
}


.imagem {
  width: 350px; /*Largura*/
  height: 350px; /*Altura*/
  padding: 5px; /*Espaçamento entre o conteúdo e a borda*/
  float: right; /*Posiciona à direita*/
}


section {
  margin: 2%; /*Espaço entre caixa e marguem da página*/
}


.informacao {
  width: 800px; /*Largura*/
  height: 600px; /*Altura*/
  padding: 10px; /*Espaçamento entre o conteúdo e a borda*/
}


.imagre, .imagree {
  width: 90px; /*Largura*/
  height: 90px; /*Altura*/
  padding: 5px; /*Espaçamento entre o conteúdo e a borda*/
}


.imagree {
  float: left; /*Posiciona à esquerda*/
}


.menu3 {
  margin: 0px; /*Espaçamento externo*/
  padding: 14px; /*Espaçamento entre o conteúdo e a borda*/
  background-color: #468749; /*Cor de fundo*/
  text-indent: 40px; /*Recuo da linha*/
  text-align: center; /*Centraliza o texto*/
}


a {
  font-size: 125%; /*Tamanho da fonte*/
  font-family: 'Times New Roman', Times, serif; /*Fonte*/
  color: white; /*Cor do texto*/
  padding: 14px 14px; /*Espaçamento entre o conteúdo e a borda*/
  text-decoration: none; /*Remove o sublinhado*/
}


a:hover:not(#menu) {
  background-color: #2c612f; /*Cor de fundo*/
}


#menu {
  background-color: #04AA6D; /*Cor de fundo*/
}


#user-info {
  width: 6em; /*Largura*/
  height: 1em; /*Altura*/
  background-color: #468749; /*Cor de fundo*/
  border: 2px solid #ccc; /*Bordas*/
  border-radius: 5px; /*Bordas arredondadas*/
  padding: 8px; /*Espaçamento entre o conteúdo e a borda*/
  position: relative; /*Posição relativa*/
  text-align: center; /*Centraliza o conteúdo*/
}


#dropdown {
  width: 6em; /*Largura*/
  height: 2em; /*Altura*/
  position: absolute; /*Posição absoluta*/
  background-color: #468749; /*Cor de fundo*/
  border: 2px solid #ccc; /*Bordas*/
  border-radius: 5px; /*Bordas arredondadas*/
  display: none; /*Inicialmente invisível*/
}


#logout {
  padding: 5px; /*Espaçamento entre o conteúdo e a borda*/
  text-align: center; /*Centraliza o conteúdo*/
  cursor: pointer; /*Altera o cursor*/
}


#logout:hover {
  background-color: #2c612f; /*Cor de fundo*/
}


#listas, p {
  font-size: 127%; /*Tamanho da fonte*/
  font-family: 'Times New Roman', Times, serif; /*Fonte*/
  margin: 20px; /*Margem lateral*/
}


h1 {
  color: #468749; /*Cor do texto*/
  font-family: 'Times New Roman', Times, serif; /*Fonte*/
  font-size: 250%; /*Tamanho da fonte*/
}


footer {
  background-color: #468749; /*Cor de fundo*/
  color: white; /*Cor do texto*/
  padding: 20px; /*Espaçamento interno*/
}


.footer-container {
  display: flex; /*Permite organizar elementos em um container de forma flexível*/
  justify-content: space-between; /*Alinha os elementos horizontalmente*/
  width: 70%; /*Largura*/
  margin-left: 250px; /*Move as caixas 250px para a esquerda*/
}


.integrantes, .contatos {
  margin: 0 20px; /*Espaçamento externo do elemento*/
}


.contatos {
  margin-bottom: 10px; /*Margem inferior*/
}


.lista {
  list-style-type: none; /*Remove o marcador da lista*/
  padding: 0; /*Espaçamento entre o conteúdo e a borda*/
}


.nome {
  margin: 5px 0; /*Espaçamento externo do elemento*/
}


.contact-item {
  display: flex; /*Permite organizar elementos em um container de forma flexível*/
  align-items: center; /*Centraliza os itens*/
  margin: 5px 0; /*Espaçamento externo do elemento*/
}


.contact-item i {
  margin-right: 5px; /*Move as caixas 5px para a direita*/
  color: #fff; /*Cor dos ícones*/
}


.fas, .fab {
  font-size: 120%; /*Tamanho da fonte*/
}





/*Responsividade*/
/*Computadores*/
@media (max-width: 1024px) {
  .footer-container {
    margin-left: 150px; /*Move as caixas 150px para a esquerda*/
  }
}


/*Tablets*/
@media(min-width: 600px) and (max-width: 912px){
  .informacao {
    width: 700px; /*Largura*/
  }
}


/*Celulares*/
@media(max-width: 450px) {
  .informacao {
    width: 350px; /*Largura*/
    height: 400px; /*Altura*/
    padding: 2px; /*Espaçamento entre o conteúdo e a borda*/
  }

  .menu3 {
    text-indent: 5px; /*Recuo da linha*/
  }
  
  a {
    font-size: 110%; /*Tamanho da fonte*/
    padding: 5px 5px; /*Espaçamento entre o conteúdo e a borda*/
  }

  .footer-container {
    margin-left: 2px; /*Move as caixas 2px para a esquerda*/
  }
}


@media (min-width: 480px) and (max-width: 540px) {
  .imagem {
    width: 300px; /*Largura*/
  }

  .informacao {
    width: 300px; /*Largura*/
    height: 300px; /*Altura*/
  }

  .imagree {
    width: 50px; /*Largura*/
    height: 50px; /*Altura*/
  }

  .footer-container {
    margin-left: 30px; /*Move as caixas 30px para a esquerda*/
    font-size: 70%; /*Tamanho da fonte*/
  }
}


@media(max-width: 375px) {
  .imagem {
    width: 300px; /*Largura*/
  }

  .informacao {
    width: 300px; /*Largura*/
    height: 300px; /*Altura*/
  }

  .footer-container {
    margin-left: 30px; /*Move as caixas 30px para a esquerda*/
    font-size: 70%; /*Tamanho da fonte*/
  }
}


@media(max-width: 344px) {
  .imagem {
    width: 300px; /*Largura*/
  }

  .informacao {
    width: 300px; /*Largura*/
    height: 300px; /*Altura*/
  }

  .imagree {
    width: 50px; /*Largura*/
    height: 50px; /*Altura*/
  }

  .footer-container {
    margin-left: 30px; /*Move as caixas 30px para a esquerda*/
    font-size: 70%; /*Tamanho da fonte*/
  }
}
