body { /*Imagem de fundo*/
  background-image: url(../imagens/fotodofundo.png); /*Imagem*/
  background-repeat: no-repeat; /*Se a imagem será repetida ou não*/
  background-attachment: fixed; /*Fixa a imagem*/
  background-size: cover; /*Ajusta a imagem*/
  height: 100vh; /*Altura total da tela*/
  margin: 0; /*Remove margem*/
}


input, select, button, textarea { /*Formatação dos campos de entrada*/
  border-radius: 4em; /*Bordas arredondadas*/
  padding: 5px; /*Espaçamento entre o conteudo e borda*/
  margin: 5px; /*Espaçamento externo do elemento*/
  height: 6%; /*Altura*/
  font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
}


#comeco { /*Formatação da caixa no meio*/
  width: 325px; /*Largura*/
  height: 400px; /*Altura*/
  top: 32%; /*Move a caixa 32% para baixo*/
  left: 38%; /*Move a caixa 42% para a esquerda*/
  border: 1px double black; /*Bordas para as caixas*/
  position: absolute; /*Alterar a posição de um elemento em relação à sua posição inicial*/
  padding: 20px; /*Espaçamento entre o conteudo e borda*/
  border-radius: 5%; /*Bordas arredondadas*/
  box-sizing: border-box; /*Altera a forma como o navegador calcula a largura e a altura de um elemento*/
  transform: rotate(90); /*Rotação da caixa*/
  background-color: #4caa38; /*Cor do fundo*/
  text-indent: 95px; /*Define o recuo do texto*/
  opacity: 60%; /*Deixa meio transparente*/
  position: fixed; /*Fixa o quadrado na tela*/
  min-height: fit-content; /*Define a altura mínima do fieldset como o conteúdo interno*/
  height: auto; /*Permite que a altura do fieldset se adapte automaticamente ao conteúdo*/
}


.conteudo {
  display: flex; /*Transforma o elemento em um container flexível*/
  flex-direction: column; /*Define a direção dos elementos filhos como vertical (coluna)*/
  overflow: auto; /*Permite que o conteúdo seja rolado se necessário*/
}


input:hover, button:hover, select:hover, textarea:hover { /*Ativa borda e sombra ao passar o mouse*/
  border: 1px solid blue; /*Bordas para as caixas*/
  box-shadow: 1px 1px 2px silver; /*Sombra sutil*/
}


input[type="text"], input[type="password"] {
  margin-left: 9px; /*Move ambos os inputs 9px para a esquerda*/
  margin-top: 2%;  /*Move ambos os inputs 2% para baixo*/
}


h1 { /*Título*/
  color: black; /*Cor do texto*/
  font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
  margin-left: 6px; /*Move o título 6px para a esquerda*/
  margin-top: 2%; /*Move o título 2% para baixo*/
}


button { /*Botões*/
  width: 265px; /*Largura*/
  height: 10%; /*Altura*/
  top: 32%; /*Move ambos os button 32% para baixo*/
  left: 40px; /*Move ambos os button 40px para a esquerda*/
  text-decoration: none; /*Remove o sublinhado*/
  font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
}


a { /*Links*/
  padding: 10px 20px; /*Espaçamento entre o conteudo e borda*/
  color: black; /*Cor do texto*/
  text-decoration: none; /*Remove o sublinhado*/
  border-radius: 4px; /*Bordas arredondadas*/
  text-indent: 5px; /*Define o recuo do texto*/
  margin-left: 2px; /*Move ambos o texto 2px para a esquerda*/
  font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
}





/*Responsividade*/
/*Computadores*/
@media (max-width: 1280px) {
  #comeco {
    width: 25%; /*Largura*/
    height: 55%; /*Altura*/
    left: 43%; /*Move a caixa 43% para a esquerda*/
  }
}


@media (max-width: 1024px) {
  body {
    background-position: top center; /*Define a posição inicial de uma imagem de fundo*/
  }

  #comeco {
    width: 33%; /*Largura*/
    height: 60%; /*Altura*/
    left: 34%; /*Move a caixa 34% para a esquerda*/
    top: 25%; /*Move a caixa 25% para baixo*/
  }
}


/*Tablets*/
@media(min-width: 600px) and (max-width: 912px){
  body {
    background-position: top center; /*Define a posição inicial de uma imagem de fundo*/
  }

  #comeco {
    width: 40%; /*Largura*/
    height: 37%; /*Altura*/
    left: 30%; /*Move a caixa 30% para a esquerda*/
    top: 35%; /*Move a caixa 35% para baixo*/
  }
}


/*Celulares*/
@media(max-width: 450px) {
  body {
    background-position: top center; /*Define a posição inicial de uma imagem de fundo*/
  }

  #comeco {
    width: 80%; /*Largura*/
    height: 50%; /*Altura*/
    left: 10%; /*Move a caixa 10% para a esquerda*/
    top: 30%; /*Move a caixa 30% para baixo*/
  }
}


@media (min-width: 480px) and (max-width: 540px) {
  body {
    background-position: top center; /*Define a posição inicial de uma imagem de fundo*/
  }

  #comeco {
    width: 60%; /*Largura*/
    left: 20%; /*Move a caixa 20% para a esquerda*/
  }
}


@media(max-width: 375px) {
  body {
    background-position: top center; /*Define a posição inicial de uma imagem de fundo*/
  }

  #comeco {
    width: 90%; /*Largura*/
    height: 50%; /*Altura*/
    left: 5%; /*Move a caixa 5% para a esquerda*/
  }
}


@media(max-width: 344px) {
  body { 
    background-position: top center; /*Define a posição inicial de uma imagem de fundo*/
  }

  #comeco {
    width: 95%; /*Largura*/
    height: 50%; /*Altura*/
    left: 2%; /*Move a caixa 2% para a esquerda*/
    top: 30%; /*Move a caixa 30% para baixo*/
  }
}
