header { /*Imagem no topo*/
  background-image: url(../imagens/barracadastro.png); /*Imagem*/
  padding: 6em; /*Espaçamento entre o conteudo e borda*/
  background-position: center; /*Colocando a imagem no centro*/
}


.imagree {
  width: 100px; /*Largura*/
  height: 100px; /*Altura*/
  padding: 5px; /*Espaçamento entre o conteudo e borda*/
  float: right; /*Posiciona um elemento no lado direito do seu contêiner*/
}


section {
  margin: 2%; /*Espaço entre caixa e marguem da página*/
}


.menu4 { /*Menu no topo da página*/
  margin: 0px; /*Espaçamento externo do elemento*/
  padding: 14px; /*Espaçamento entre o conteudo e borda*/
  background-color: #468749; /*Cor do fundo*/
  text-indent: 40px; /*Recuo da linha*/
  text-align: center; /*Alinha o texto no centro*/
}


a { /*Os links no menu*/
  font-size: 125%; /*Tamanho da fonte*/
  font-family: 'Times New Roman', Times, serif; /*Fonte das letras*/
  color: white; /*Cor do texto*/
  padding: 14px 14px; /*Espaçamento entre o conteudo e borda*/
  text-decoration: none; /*Remove o sublinhado de links*/
}


a:hover:not(#menu) { /*Ativa quando passa o mouse por cima dos links no menu*/
  background-color: #2c612f; /*Cor do fundo*/
}


#menu { /*Os links no menu*/
  background-color: #04AA6D; /*Cor do fundo*/
}


#user-info {
  width: 6em; /*Largura*/
  height: 1em; /*Altura*/
  background-color: #468749; /*Cor do fundo*/
  border: 2px solid #ccc; /*Bordas para as caixas*/
  border-radius: 5px; /*Bordas arredondadas*/
  padding: 8px; /*Espaçamento entre o conteudo e borda*/
  position: relative; /*Alterar a posição de um elemento em relação à sua posição inicial*/
  text-align: center; /*Alinha o texto no centro*/
}


#dropdown {
  width: 6em; /*Largura*/
  height: 2em; /*Altura*/
  position: absolute; /*Representação do layout da caixa*/
  background-color: #468749; /*Cor do fundo*/
  border: 2px solid #ccc; /*Bordas para as caixas*/
  border-radius: 5px; /*Bordas arredondadas*/
  display: none; /*Indica que um elemento não deve ser exibido na página*/
}


#logout {
  padding: 5px; /*Espaçamento entre o conteudo e borda*/
  text-align: center; /*Alinha o texto no centro*/
  cursor: pointer; /*Especifica o cursor do mouse mostrado quando o ponteiro do mouse está sobre um elemento*/
}


#logout:hover {
  background-color: #2c612f; /*Cor do fundo*/
}


p, ol { /*O texto escrito no site*/
  font-size: 127%; /*Tamanho das teras*/
  font-family: 'Times New Roman', Times, serif; /*Fonte das letras*/
  margin: 20px; /*Margem lateral*/
}


h1 { /*Título do site*/
  color: #468749; /*Cor do texto*/
  font-family: 'Times New Roman', Times, serif; /*Fonte das letras*/
  font-size: 250%; /*Tamanho da fonte*/
}


footer { /*Rodape completo*/
  background-color: #468749; /*Cor do fundo*/
  color: white; /*Cor do texto*/
  padding: 20px; /*Espaçamento entre o conteudo e borda*/
}


.footer-container { /*Todos os div estão dentro dessa classe*/
  display: flex; /*Permite organizar elementos em um container de forma flexível*/
  justify-content: space-between; /*Distribui os elementos de forma igual ao longo da linha*/
  width: 70%; /*Largura*/
  margin-left: 250px; /*Move o texto 250px para a esquerda*/
}


.integrantes, .contatos { /*As duas listas*/
  margin: 0 20px; /*Espaçamento externo do elemento*/
}


.contatos { /*Lista de contato*/
  margin-bottom: 10px; /*Margem de botão*/
}


.lista { /*Lista dos nomes */
  list-style-type: none; /*Remove o marcador de lista*/
  padding: 0; /*Espaçamento entre o conteudo e borda*/
}


.nome { /*Os próprios nomes*/
  margin: 5px 0; /*Espaçamento externo do elemento*/
}


.contact-item { /*Os próprios itens*/
  display: flex; /*Permite organizar elementos em um container de forma flexível*/
  align-items: center; /*Controlar o alinhamento de itens*/
  margin: 5px 0; /*Espaçamento externo do elemento*/
}


.contact-item i { /*Icones*/
  margin-right: 5px; /*Move os itens a 5px para a direita*/
  color: #fff; /*Cor do ícone*/
}


.fas, .fab { /*Estilos para ícones*/
  font-size: 120%; /*Tamanho da fonte*/
}





/*Responsividade*/
/*Computadores*/
@media (max-width: 1280px) {
  .menu4 {
    text-indent: 5px; /*Recuo da linha*/
  }

  a {
    font-size: 120%; /*Tamanho da fonte*/
    padding: 14px 14px; /*Espaçamento entre o conteudo e borda*/
  }

  .footer-container {
    width: 60%; /*Largura*/
  }
}


@media (max-width: 1024px) {
  a {
    font-size: 140%; /*Tamanho da fonte*/
  }

  p, ol {
    font-size: 150%; /*Tamanho da fonte*/
  }

  .footer-container {
    margin-left: 150px; /*Move o texto 150px para a esquerda*/
  }
}


/*Tablets*/
@media(min-width: 600px) and (max-width: 912px){
  a {
    font-size: 140%; /*Tamanho da fonte*/
  }

  p, ol {
    font-size: 150%; /*Tamanho da fonte*/
  }
}


/*Celulares*/
@media(max-width: 450px) {
  .menu4 {
    text-indent: 10px; /*Recuo da linha*/
  }

  a {
    font-size: 90%; /*Tamanho da fonte*/
    padding: 3px 3px; /*Espaçamento entre o conteudo e borda*/
  }

  .footer-container {
    margin-left: 2px; /*Move as caixas 2px para a esquerda*/
  }
}


@media (min-width: 480px) and (max-width: 540px) {
  .footer-container {
    margin-left: 100px; /*Move as caixas 100px para a esquerda*/
    font-size: 70%; /*Tamanho da fonte*/
  }
}


@media(max-width: 375px) {
  .menu4 {
    text-indent: 10px; /*Recuo da linha*/
  }

  a {
    font-size: 90%; /*Tamanho da fonte*/
    padding: 3px 3px; /*Espaçamento entre o conteudo e borda*/
  }

  .footer-container {
    margin-left: 30px; /*Move as caixas 30px para a esquerda*/
    font-size: 70%; /*Tamanho da fonte*/
  }
}


@media(max-width: 344px) {
  .footer-container {
    margin-left: 30px; /*Move as caixas 30px para a esquerda*/
    font-size: 70%; /*Tamanho da fonte*/
  }
}
