header { /*Imagem no topo*/
    background-image: url(../imagens/barracadastro.png); /*Imagem*/
    padding: 6em; /*Espaçamento entre o conteudo e borda*/
    background-position: center;
}



input, select, button, textarea { /*Formatação dos campos de entrada*/
    border-radius: 4em; /*Bordas arredondadas */
    padding: 5px; /*Espaçamento entre o conteudo e borda*/
    margin: 5px; /*Espaço entre caixa e marguem da página*/
    height: 6%; /*Altura da caixa*/
    font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
}

input:hover, button:hover, select:hover, textarea:hover { /*Ativa borda e sombra ao passar o mouse*/
    border: 1px solid blue;
    box-shadow: 1px 1px 2px silver;
}

#cadastro { /*Formatação da caixa no meio*/
    width: 650px; /*Largura da caixa*/
    height: 400px; /*Altura da caixa*/
    top: 32%; /*Move a caixa 32% para baixo */
    left: 5%; /*Move a caixa 41.5% para a esquerda*/
    border: 1px double black; /*Tipo e espessura*/
    position: absolute; /*Representação do layout da caixa*/
    padding: 10px; /*Espaçamento entre o conteudo e borda*/
    border-radius: 5%; /*Bordas arredondadas*/
    box-sizing: border-box; /*Largura e altura compreenderãp o tamanho maximo do box*/
    transform: rotate(90); /*Rotação da caixa*/
    background-color: white; /*Cor da caixa*/
    text-indent: 95px; /*Define o recuo do texto*/
    position: fixed; /*Fixa o quadrado na tela*/
}

#cadastro2 { /*Formatação da caixa no meio*/
    width: 650px; /*Largura da caixa*/
    height: 400px; /*Altura da caixa*/
    top: 32%; /*Move a caixa 32% para baixo */
    left: 50%; /*Move a caixa 50% para a esquerda*/
    border: 1px double black; /*Tipo e espessura*/
    position: absolute; /*Representação do layout da caixa*/
    padding: 10px; /*Espaçamento entre o conteudo e borda*/
    border-radius: 5%; /*Bordas arredondadas*/
    box-sizing: border-box; /*Largura e altura compreenderãp o tamanho maximo do box*/
    transform: rotate(90); /*Rotação da caixa*/
    background-color: white; /*Cor da caixa*/
    text-indent: 50px; /*Define o recuo do texto*/
    position: fixed; /*Fixa o quadrado na tela*/
}

#botoes { /*Posição dos botões*/
    margin-top: 550px;
    text-align: center;
}

button { /*Botões*/
    width: 265px; /*Largura*/
    height: 10%; /*Altura*/
    top: 32%; /*Move ambos os button 32% para baixo*/
    left: 40px; /*Move ambos os button 40px para a esquerda*/
    text-decoration: none; /*Remove o sublinhado*/
    font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
    background-color: #2c612f; /*Cor dos botões*/
    color: white; /*Cor do texto */
}

a { /*Links*/
    padding: 10px 20px; /*Espaçamento interno*/
    color: white; /*Cor do texto*/
    text-decoration: none; /*Remove o sublinhado*/
    border-radius: 4px; /*Bordas arredondadas*/
    text-indent: 5px; /*Define o recuo do texto*/
    margin-left: 2px; /*Move ambos os inputs 2px para a esquerda*/
    font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
}

h2 { /*Título*/
    font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
    margin-left: 6px; /*Move o título 6px para a esquerda*/
    margin-top: 1%; /*Move o título 2% para baixo*/
    font-size: 350%; /*Tamanho da letra*/
    color: #468749; /*Cor*/
    text-indent: 25px; /*Define o recuo do texto*/
}

h3 { /*Título da primeira caixa*/
    color: #468749; /*cor*/
    font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
    margin-left: 6px; /*Move o título 6px para a esquerda*/
    top: 10%; /*Move o título 2% para baixo */
    font-size: 130%; /*Tamanho da letra*/
}

h4 { /*Título da segunda caixa*/
    font-family: 'Times New Roman', Times, serif; /*Fonte do texto*/
    margin-left: 6px; /*Move o título 6px para a esquerda*/
    margin-top: 1%; /*Move o título 2% para baixo*/
    font-size: 150%; /*Tamanho da letra*/
    color: #468749; /*Cor*/
}



/*Tela responsiva*/
/* Estilos para telas menores */
@media (max-width: 768px) {
    button {
        width: 100%; /* Botões ocupam 100% em telas menores */
        margin-bottom: 10px;
    }
}
