header { /*Imagem no topo*/
  background-image: url(../imagens/barracadastro.png); /*Imagem*/
  padding: 6em; /*Espaçamento entre o conteudo e borda*/
}



img {
  max-width: 100%;
  height: auto;
}

.imagem  { /*Ajeitando a imagem*/
  width: 350px; /*Largura*/
  height: 350px; /*Altura*/
  padding: 5px; /*Espaçamento entre o conteudo e borda*/
  float: right; /*Botando a imagem para a direita do texto*/
}

.informacao { /*Ajeitando a primeira imagem*/
  width: 800px; /*Largura*/
  height: 600px; /*Altura*/
  padding: 10px; /*Espaçamento entre o conteudo e borda*/
}

.imagre { /*Ajeitando a ultima imagem*/
  width: 90px; /*Largura*/
  height: 90px; /*Altura*/
  padding: 5px; /*Espaçamento entre o conteudo e borda*/
}

.imagree {
  width: 90px; /*Largura*/
  height: 90px; /*Altura*/
  padding: 5px; /*Espaçamento entre o conteudo e borda*/
  float: left; /*Botando a imagem para a direita do texto*/
}



.menu3 { /*Menu no topo da página*/
  margin: 0px; /*Espaço entre caixa e marguem da página*/
  padding: 14px; /*Espaçamento entre o conteudo e borda*/ 
  background-color: #468749; /*Cor da caixa*/
  text-indent: 700px; /*Recuo da linha*/
}

a { /*Os links no menu*/
  font-size: 20px; /*Tamanho da fonte*/
  font-family: 'Times New Roman', Times, serif; /*Fonte das letras*/
  color: white; /*Cor do texto */
  padding: 14px 14px; /*Espaçamento entre o conteudo e borda*/
  text-decoration: none; /*Remove o sublinhado de links*/
}
  
a:hover:not(#menu) { /*Ativa quando passa o mouse por cima dos links no menu*/
  background-color: #2c612f; /*Cor da caixa*/
}
  
#menu { /*Os links no menu*/
  background-color: #04AA6D; /*Cor da caixa*/
}



#listas, p { /*Textos*/
  font-size: 20px; /*Tamanho das letras*/
  font-family: 'Times New Roman', Times, serif; /*Fonte das letras*/
}

h1 { /*Título do site*/
  color: #468749; /*Cor do texto */
  font-family: 'Times New Roman', Times, serif; /*Fonte das letras*/
  font-size: 35px; /*Tamanho da fonte*/
}

section {
  margin: 5%;
}


footer { /*Rodape completo*/
  background-color: #468749; /*Cor do rodape*/
  color: white; /*Cor do texto*/
  padding: 20px; /*Espaçamento entre o conteudo e borda*/
}

.footer-container { /*Todos os div estão dentro dessa classe*/
  display: flex; 
  justify-content: space-between;   
  width: 70%; /*Largura*/
}

.integrantes, .contatos { /*As duas listas*/
  margin: 0 20px; 
}

.contatos { /*Lista de contato*/
  margin-bottom: 10px; 
}

.lista { /*Lista dos nomes */
  list-style-type: none; 
  padding: 0; /*Espaçamento entre o conteudo e borda*/
}

.nome { /*Os próprios nomes*/
  margin: 5px 0; 
}

.contact-item { /*Os próprios itens*/
  display: flex; 
  align-items: center; 
  margin: 5px 0; 
}

.contact-item i { /*Icones*/
  margin-right: 5px; 
  color: #fff; /*Cor do ícone */
}

.fas, .fab { /*Estilos para ícones*/
  font-size: 18px;
}



/*Tela responsiva*/
/* Estilos para telas menores */
@media (max-width: 768px) {
  button {
      width: 100%; /* Botões ocupam 100% em telas menores */
      margin-bottom: 10px;
  }
}
