#comeco {
    width: 325px;
    height: 400px;
    top: 32%;
    left: 39.5%;
    border: 1px double black;
    position: absolute;
    padding: 20px;
    border-radius: 5%;
    box-sizing: border-box;
    transform: rotate(90);
    background-color: #4CAA38;
    text-indent: 95px;
    opacity: 1;

}


input[type="text"], input[type="password"] {
    margin-left: 9px; /* Move ambos os inputs 20px para a direita */
    margin-top: 2%;  /* Move ambos os inputs 10px para baixo */ 
    padding: 8px;
}

h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 6px;
    margin-top: 2%;
}

button {
    width: 265px;
    height: 32px;
    top: 32%;
    left: 40;
    text-decoration: none; /* Remove o sublinhado */
    
}

input[type="submit"] {
    width: 265px;
    height: 32px;
    top: 32%;
    left: 41.5%;
    border-radius: 4px; /* Bordas arredondadas */
}

a {
    padding: 10px 20px; /* Espaçamento interno */
    color: black; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    border-radius: 4px; /* Bordas arredondadas */
    text-indent:10px;
    margin-left: 2px; /* Move ambos os inputs 20px para a direita */
}

body {
    background-image: url(imagens/fotodefundo.jpeg); /*Configurações da imagem de fundo*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


@media screen and (max-width: 1020px){ /*torna o site responsivo*/
}
